---
permalink: /404.html
eleventyExcludeFromCollections: true
title: Not Found
layout: base.njk
pageDescription: That page does not exist.
---
{% import "cards.njk" as cards %}
{% import "pagehead.njk" as pagehead %}

<div class="page__body">
  {{ pagehead.simple("That page does not exist", kicker="Error 404", sub="The link may be out of date, or the entry may have been renamed.") }}

  <section class="block block--flush">
    <div class="block__head">
      <h2 class="block__title">Try instead</h2>
      <span class="block__aux">{{ stats.totalItems }} entries</span>
    </div>
    <ol class="cards">
      {%- for item in nav %}
      {{ cards.line(href=item.permalink, title=item.label, meta=item.permalink, tag="Index") }}
      {%- endfor %}
    </ol>
  </section>
</div>
