---
layout: base.njk
permalink: /search/
title: Everything
section: search
pageDescription: Everything on this site, sorted by date.
---
{% import "cards.njk" as cards %}
{% import "pagehead.njk" as pagehead %}
{%- set recentAll = all_content | byDate %}
<div class="page__body">
  {{ pagehead.simple("Everything", sub=(stats.totalItems ~ " entries across " ~ (collection_types | length) ~ " collections.")) }}

  {%- include "searchbox.njk" %}

  <section class="block block--flush" data-static-list>
    <div class="block__head">
      <h2 class="block__title">Recent</h2>
      <span class="block__aux">{{ recentAll | length }}</span>
    </div>
    {{ cards.collection(recentAll, "compact") }}
  </section>
</div>
